<h1>Motti's blog.</h1>


<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

To add a new article, <%= link_to "Click here", new_article_path %>


