<br>
<br>
<div  style='width: 650px; height:300; margin:auto'>

<img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="https://www.emergingedtech.com/wp/wp-content/uploads/2018/04/blogging.jpg" width="627" height="500">
<h2 style="text-align:center;">   Welcome to Motti's Blog! <%= link_to "Click here", articles_path %>  to view all of the posts</h2>